<html>
<head>
  <title>Quiztionary - About</title>
  <meta name="description" content="Quiztionary is a crowdsourced dictionary powered by Quizlet">

  <link rel="icon" type="image/png" href="favicon.png">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/paper/bootstrap.min.css">
  <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Quiztionary</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="/about">About</a></li>
          <li><a target="_blank" href="https://github.com/tejas-manohar/quiztionary">Source</a></li>
          <li><a href="mailto:contact@quiztionary.com">Contact</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="container">
    <center>
      <div class="jumbotron" style="text-align:center; padding-top:80px; background-color: rgba(0,0,0,0);">
        <h1>Quiztionary</h1><br><p>Quiztionary is an open-source, crowdsourced <a target="_blank" href="http://quizlet.com">Quizlet</a>-powered dictionary developed by <a href="http://tejasmanohar.com">Tejas Manohar</a>. <br>If you would like to contribute, please open a pull request on <a target="_blank" href="https://github.com/tejas-manohar/quiztionary">Github</a>.</p>
      </div>
    </center>
  </div>
  <div class="navbar navbar-fixed-bottom">
    <p class="navbar-text pull-left">&copy; Copyright 2014 Quiztionary</p>
    <p class="navbar-text pull-right">Developed by <a target="_blank" href="http://tejasmanohar.com">Tejas Manohar</a></p>
  </div>
</body>
</html>