<center>
  <div class="jumbotron" style="text-align:center; padding-top:80px; background-color: rgba(0,0,0,0);">
    <h1>Quiztionary</h1><br><p>Quiztionary is an open-source, crowdsourced <a target="_blank" href="http://quizlet.com">Quizlet</a>-powered dictionary developed by <a href="https://tejas.io">Tejas Manohar</a>. <br>If you would like to contribute, please open a pull request on <a target="_blank" href="https://github.com/tejasmanohar/quiztionary">Github</a>.</p>
  </div>
</center>

